<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.starbuzzv3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarBuzzV1">
        <activity
            android:name="com.hfad.starbuzzv3.StoreActivity"
            android:exported="false" />
        <activity
            android:name="com.hfad.starbuzzv3.StoreCategoryActivity"
            android:exported="false" />
        <activity
            android:name="com.hfad.starbuzzv3.FoodActivity"
            android:exported="false" />
        <activity
            android:name="com.hfad.starbuzzv3.FoodCategoryActivity"
            android:exported="false" />
        <activity
            android:name="com.hfad.starbuzzv3.DrinkActivity"
            android:exported="false" />
        <activity
            android:name="com.hfad.starbuzzv3.DrinkCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity_drink_category"
            android:exported="false" />
        <activity
            android:name="com.hfad.starbuzzv3.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>